<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CityMapper">
  <select id="selectCityById" resultType="City">
    select * from City where id = #{id}
  </select>
   <insert id="insertOne" parameterType="com.example.domain.City" useGeneratedKeys="true"
            keyProperty="id">
    insert into city (id,  name, 
      state ,country
      )
       values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}
      )
  </insert>
</mapper>